* {
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

* {
  letter-spacing: 1px; }

.logo h1 {
  font-family: "Merienda", serif;
  text-transform: uppercase;
  font-size: 1.5em; }
  .logo h1 a {
    color: #ccc; }
    .logo h1 a:hover {
      color: #dc7725; }
  @media screen and (max-width: 778px) {
    .logo h1 {
      font-size: 1.2em; } }

.fa-bars {
  font-size: 2em;
  color: #ccc; }

nav a,
.explore a {
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  color: #000; }

.mid-nav a {
  color: #bdbdb7; }

.mid-nav a:hover {
  color: #fff; }

nav li:first-child a:hover,
nav li:last-child a:hover {
  color: #dc7725; }

@media screen and (max-width: 1150px) {
  nav a,
  .mid-nav a {
    font-size: 0.9em; } }

.mid-nav li:last-child a {
  color: #dc7725; }

.search {
  font-weight: bold; }

.hero-text {
  text-transform: uppercase; }
  .hero-text h2 {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.3em; }
    @media screen and (max-width: 960px) {
      .hero-text h2 {
        font-size: 1em; } }
    @media screen and (max-width: 778px) {
      .hero-text h2 {
        font-size: 0.8em; } }
  .hero-text h1 {
    font-family: "Merienda", serif;
    font-size: 6.5em; }
    @media screen and (max-width: 960px) {
      .hero-text h1 {
        font-size: 4.5em; } }
    @media screen and (max-width: 778px) {
      .hero-text h1 {
        font-size: 3em;
        padding-bottom: 20px; } }

.caption h3 {
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.375em;
  font-weight: normal; }

.mid-nav .active {
  color: #fff; }
  .mid-nav .active:hover {
    color: #dc7725; }

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-flow: wrap; }
  @media screen and (max-width: 1150px) {
    .container {
      max-width: 900px;
      padding: 0 20px; } }
  @media screen and (max-width: 960px) {
    .container {
      max-width: 700px; } }

.column {
  flex-direction: column; }

header {
  background-image: url("../img/VisitFinland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh; }
  header .container {
    height: 100%; }
  header .logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman'; }
    header .logo img {
      width: 50px;
      margin-right: 10px; }
      @media screen and (max-width: 778px) {
        header .logo img {
          width: 35px; } }
    header .logo h1 {
      margin: 0; }
    @media screen and (max-width: 778px) {
      header .logo {
        height: 100px; } }
  header .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 100%; }
    header .hero-text img {
      width: 50px;
      height: 50px; }
    header .hero-text h1 {
      margin: 0; }
    header .hero-text h2 {
      margin-bottom: 0; }
    header .hero-text .hero-bar {
      display: block;
      width: 250px;
      height: 5px;
      background-color: #000; }
    @media screen and (max-width: 778px) {
      header .hero-text {
        align-self: flex-start;
        margin-top: -100px; } }
  @media screen and (max-width: 778px) {
    header {
      height: 500px; } }

nav {
  display: flex;
  flex: 1 50%;
  justify-content: flex-end;
  align-items: center; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      padding: 10px 10px; }
  @media screen and (max-width: 960px) {
    nav ul {
      display: none; } }
  nav .fa-bars {
    display: none; }
    @media screen and (max-width: 960px) {
      nav .fa-bars {
        display: block; } }
  @media screen and (max-width: 778px) {
    nav {
      height: 100px; } }

main {
  background: #323232; }

.middle-navbar {
  background: #323232;
  background-image: url("../img/bg-categorynav.jpg");
  height: 80px;
  border-top: 2px solid #272726;
  border-bottom: 1px solid #000;
  margin-bottom: 60px; }
  @media screen and (max-width: 960px) {
    .middle-navbar {
      display: none; } }

.middle-navbar .container {
  height: 100%; }

.mid-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%; }
  .mid-nav i {
    margin-left: 5px;
    color: #bdbdb7; }
  .mid-nav ul li {
    display: inline-block;
    padding: 15px 5px;
    margin-right: 15px; }
    .mid-nav ul li:last-child {
      border-left: 1px solid grey;
      padding-left: 20px; }
    .mid-nav ul li:last-child a {
      color: orange; }
  .mid-nav .search {
    display: block;
    padding: 15px 5px;
    color: #bdbdb7; }

.gallery {
  background: #999; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
  .gallery .gallery-item {
    display: flex;
    position: relative;
    height: 420px;
    justify-content: center;
    align-items: center; }
    .gallery .gallery-item .caption {
      position: absolute;
      bottom: 40px;
      left: 40px; }
      .gallery .gallery-item .caption span {
        display: block;
        height: 5px;
        width: 40px;
        background: #dc7725;
        margin-bottom: 15px; }
      .gallery .gallery-item .caption h3 {
        margin: 0;
        color: #fff; }
    .gallery .gallery-item:hover .grey-icon {
      transform: scale(1.3); }
    @media screen and (max-width: 778px) {
      .gallery .gallery-item {
        height: 250px;
        margin: 5% 5% 0 5%; } }
  .gallery .gallery-item:nth-child(1),
  .gallery .gallery-item:nth-child(6) {
    flex: 2 50%; }
    @media screen and (max-width: 960px) {
      .gallery .gallery-item:nth-child(1),
      .gallery .gallery-item:nth-child(6) {
        flex: 1 100%; } }
  .gallery .gallery-item:nth-child(2),
  .gallery .gallery-item:nth-child(3),
  .gallery .gallery-item:nth-child(4),
  .gallery .gallery-item:nth-child(5) {
    flex: 1 25%; }
    @media screen and (max-width: 960px) {
      .gallery .gallery-item:nth-child(2),
      .gallery .gallery-item:nth-child(3),
      .gallery .gallery-item:nth-child(4),
      .gallery .gallery-item:nth-child(5) {
        flex: 1 50%; } }
    @media screen and (max-width: 778px) {
      .gallery .gallery-item:nth-child(2),
      .gallery .gallery-item:nth-child(3),
      .gallery .gallery-item:nth-child(4),
      .gallery .gallery-item:nth-child(5) {
        flex: 1 100%; } }
  @media screen and (max-width: 778px) {
    .gallery .gallery-item:nth-child(6) {
      margin-bottom: 5%; } }
  .gallery .g-block-1 {
    background-image: url("../img/majoitus.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .gallery .g-block-2 {
    background-image: url("../img/kettle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .gallery .g-block-3 {
    background-image: url("../img/reindeer.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .gallery .g-block-4 {
    background-image: url("../img/snow-hotel-bar.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .gallery .g-block-5 {
    background-image: url("../img/snow-hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .gallery .g-block-6 {
    background-image: url("../img/glass-igloo.jpg");
    background-repeat: no-repeat;
    background-size: cover; }

.grey-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: rgba(50, 50, 50, 0.7);
  border-radius: 50%;
  transition: 0.3s ease-in-out; }
  .grey-icon img {
    width: 50%;
    height: 50%; }

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 100%; }
  .explore a {
    background: #dc7725;
    padding: 20px 30px;
    position: relative; }
    .explore a:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #dc7725;
      border-width: 12px;
      margin-left: -12px; }
  @media screen and (max-width: 778px) {
    .explore {
      display: none; } }

/*# sourceMappingURL=main.css.map */
