.gallery {
  display: flex;
  flex-wrap: wrap;
  .gallery-item {
    display: flex;
    position: relative;
    height: 420px;
    justify-content: center;
    align-items: center;
    .caption {
      position: absolute;
      bottom: 40px;
      left: 40px;
      span {
        display: block;
        height: 5px;
        width: 40px;
        background: $button-orange;
        margin-bottom: 15px;
      }
      h3 {
        margin: 0;
        color: #fff;
      }
    }

    &:hover {
      .grey-icon {
        transform: scale(1.3);
      }
    }
    @media screen and($mobile) {
      height: 250px;
      margin: 5% 5% 0 5%;
    }
  }

  .gallery-item:nth-child(1),
  .gallery-item:nth-child(6) {
    flex: 2 50%;
    @media screen and($tablet) {
      flex: 1 100%;
    }
  }

  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3),
  .gallery-item:nth-child(4),
  .gallery-item:nth-child(5) {
    flex: 1 25%;
    @media screen and($tablet) {
      flex: 1 50%;
    }
    @media screen and($mobile) {
      flex: 1 100%;
    }
  }

  .gallery-item:nth-child(6) {
    @media screen and($mobile) {
      margin-bottom: 5%;
    }
  }

  .g-block-1 {
    @include backg-img-cover('../img/majoitus.jpg');
  }
  .g-block-2 {
    @include backg-img-cover('../img/kettle.jpg');
    background-position: center;
  }
  .g-block-3 {
    @include backg-img-cover('../img/reindeer.jpg');
  }
  .g-block-4 {
    @include backg-img-cover('../img/snow-hotel-bar.jpg');
  }
  .g-block-5 {
    @include backg-img-cover('../img/snow-hotel.jpg');
    background-position: center;
  }
  .g-block-6 {
    @include backg-img-cover('../img/glass-igloo.jpg');
  }

}

.grey-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: rgba(50,50,50,0.7);
  border-radius: 50%;
  transition:0.3s ease-in-out;
  img {
    width: 50%;
    height: 50%;
  }
}
