header {
  @include backg-img-cover('../img/VisitFinland.jpg');
  background-position: bottom;
  height: 100vh;

  .container {
    height: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    font-family: 'Times New Roman';
    img {
      width: 50px;
      margin-right: 10px;
      @media screen and($mobile) {
        width: 35px;
      }
    }
    h1 {
      margin: 0;
    }
    @media screen and($mobile) {
      height: 100px;
    }
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 100%;
    img {
      width: 50px;
      height: 50px;
    }
    h1 {
      margin: 0;
    }
    h2 {
      margin-bottom: 0;
    }
    .hero-bar {
      display: block;
      width: 250px;
      height: 5px;
      background-color: #000;
    }
    @media screen and($mobile) {
      align-self: flex-start;
      margin-top: -100px;
    }
  }
  @media screen and($mobile) {
    height: 500px;
  }
}
