nav {
  display: flex;
  flex: 1 50%;
  justify-content: flex-end;
  align-items: center;
  ul {
    li {
      display: inline-block;
      a {
        padding: 10px 10px;
      }
    }
    @media screen and ($tablet) {
      display: none;
    }
  }
  .fa-bars {
    display: none;
    @media screen and ($tablet) {
      display: block;
    }
  }
  @media screen and($mobile) {
    height: 100px;
  }
}
