main {
  background: $navbar-grey;
}
.middle-navbar {
  background: $navbar-grey;
  background-image: url('../img/bg-categorynav.jpg');
  height: 80px;
  border-top: 2px solid #272726;
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
  @media screen and ($tablet) {
    display: none;
  }
}

.middle-navbar .container {
  height: 100%;
}


.mid-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100%;
  i {
    margin-left: 5px;
    color: $navbar-text-grey;
  }
  ul {
    li {
      display: inline-block;
      padding: 15px 5px;
      margin-right: 15px;
      a {
        color: $navbar-text-grey;
      }
      &:last-child {
        border-left: 1px solid grey;
        padding-left: 20px;
      }
      &:last-child a {
        color: orange;
      }
    }
  }
  .search {
    display: block;
    padding: 15px 5px;
    color: $navbar-text-grey;
  }
}









.gallery {
  background: #999;
}
