* {
  letter-spacing: 1px;
}

.logo h1 {
  font-family: $font-stack-sorts;
  text-transform: uppercase;
  font-size: 1.5em;
}


nav a,
.explore a {
  font-family: $font-stack-fjalla;
  text-transform: uppercase;
}

.mid-nav li:last-child a {
  color: $button-orange;
}

.search {
  font-weight: bold;
}



.hero-text {
  text-transform: uppercase;
  h2 {
    font-family: $font-stack-fjalla;
    font-size: 1.25em;
    letter-spacing: 0.3em;
  }
  h1 {
    font-family: $font-stack-sorts;
    font-size: 6.5em;
  }
}

.caption h3 {
  text-transform: uppercase;
  font-family: $font-stack-fjalla;
  font-size: 1.375em;
  font-weight: normal;
}
